@import "./style.scss";
@import "./common.scss";
@import "./mixin.scss";

body {
    padding-top: 60px;

    @include responsive(tablet-size) {
        padding-top: 80px;
    }
}

// header-area
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 1;
    background-color: $sub-bg-color;

    @include responsive(tablet-size) {
        height: 80px;
    }

    div.wrapper {
        width: 100%;
        height: 100%;
        padding: 0 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include responsive(tablet-size) {
            max-width: 1320px;
            margin: 0 auto;
        }

        nav.main-menu {
            // background-color: aqua;
    
            ul.gnb {
                display: flex;
                justify-content: space-between;
                align-content: center;
    
                li {
                    display: none;
    
                    @include responsive(tablet-size) {
                        display: block;
                        margin-right: 20px;
                    }

                    @include responsive(pc-size) {
                        display: block;
                        margin-right: 35px;

                        &:last-child {
                            margin-right: 35px;
                        }
                    }
    
                    &:last-child {
                        display: block;
    
                        @include responsive(tablet-size) {
                            display: none;
                        }
                    }
    
                    a {
                        &:hover {
                            text-decoration: underline;
                        }

                        @include responsive(tablet-size) {
                            font-size: 16px;
                        }
    
                        @include responsive(pc-size) {
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    
        div.logo-wrap {
            // background-color: aqua;
    
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
    
            a {
                img {
                    width: 32px;
                    height: auto;
    
                    @include responsive(tablet-size) {
                        width: auto;
                    }
                }
            }
        }
    
        div.side-menu {
            // background-color: aqua;
    
            ul {
                @include responsive(tablet-size) {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
                
                li {
                    display: none;
    
                    @include responsive(tablet-size) {
                        display: block;
                        margin-left: 30px;

                        &:first-child {
                        margin-left: 0;
                        }
                    }
    
                    &:last-child {
                        display: block;
    
                        &:hover {
                            opacity: 0.5;
                        }
                    }
    
                    a {
                        &:hover {
                            text-decoration: underline;
                        }
    
                        @include responsive(pc-size) {
                            font-size: 18px;
                        }
    
                        img {
    
                        }
                    }
                }
            }
        }
    }
}

// main-area
main {
    width: 100%;
    margin: 0 auto;
    text-align: center;

    // section.main-slide
    section.main-slide {
        position: relative;
        width: 100%;

        div.slide-img {

            img {
                width: 100%;
                height: 400px;

                @include responsive(tablet-size) {
                    height: 600px;
                }

                @include responsive(pc-size) {
                    height: 843px;
                }
            }
        }

        div.mban-slide-icon-l {
            display: none;

            @include responsive(tablet-size) {
                display: block;
                padding: 0 20px;
                position: absolute;
                top: 50%;
                left: 0;
                transform: translate(0, -50%);
            }

            a {
                img {
                    @include responsive (tablet-size) {
                        opacity: 0.4;
                    
                        &:hover {
                            opacity: 1;
                        }
                    }
                }
            }
        }

        div.mban-slide-icon-r {
            display: none;

            @include responsive(tablet-size) {
                display: block;
                padding: 0 20px;
                position: absolute;
                top: 50%;
                right: 0;
                transform: translate(0, -50%);
            }

            a {
                img {
                    @include responsive (tablet-size) {
                        opacity: 0.4;
                    
                        &:hover {
                            opacity: 1;
                        }
                    }
                }
            }
        }

        div.banner-txt {
            // background-color: aqua;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            padding: 0 20px;
            transform: translate(-50%, -50%);
    
            div.txt {
                color: $sub-bg-color;

                h2 {
                    font-size: 40px;
                    letter-spacing: 5px;
                    margin-bottom: 30px;

                    @include responsive(tablet-size) {
                        font-weight: 500;
                        font-size: 70px;
                        letter-spacing: 8px;
                    }

                    @include responsive(pc-size) {
                        font-size: 100px;
                        letter-spacing: 10px;
                        margin-bottom: 45px;
                    }
                }

                p.ban1-des1 {
                    font-size: 20px;
                    font-weight: 500;
                    font-style: italic;
                    letter-spacing: 1px;
                    margin-bottom: 35px;

                    @include responsive(tablet-size) {
                        font-size: 30px;
                        letter-spacing: 2px;
                    }

                    @include responsive(pc-size) {
                        font-size: 36px;
                        margin-bottom: 50px;
                        letter-spacing: 3px;
                    }
                }

                p.ban1-des2 {
                    font-family: $k-font;
                    display: none;

                    @include responsive(tablet-size) {
                        display: block;
                        font-weight: 500;
                        font-size: 16px;
                        font-style: italic;
                        letter-spacing: 2px;
                    }

                    @include responsive(pc-size) {
                        font-size: 22px;
                        letter-spacing: 2.5px;
                    }
                }
            }
        }

        div.mban-btm-icon {
            display: flex;
            position: absolute;
            bottom: 15px;
            left: 50%;
            transform: translate(-50%, 0);
            text-align: center;
            margin: 0 auto;
            // background-color: aqua;

            @include responsive(tablet-size) {
                bottom: 20px;
            }

            @include responsive(pc-size) {
                bottom: 25px;
            }

            a {
                width: 8px;
                height: 8px;
                background-color: $sub-bg-color;
                opacity: 0.4;
                border-radius: 50%;
                margin-right: 5px;

                &:hover {
                    opacity: 1;
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    // section.pd-sec
    section.pd-sec {
        padding: 50px 20px;
        background-color: $sub-bg-color;

        @include responsive(tablet-size) {
            padding: 70px 20px 100px 20px;
        }

        div.pd-wrap {
            position: relative;
            width: 100%;
            max-width: 1320px;
            margin: 0 auto;

            div.pd-area-title {
                width: 100%;
                
                h2 {
                    font-weight: 400;
                    font-size: 30px;
                    margin-bottom: 10px;
    
                    @include responsive(tablet-size) {
                        font-size: 50px;
                        font-weight: 400;
                        margin-bottom: 15px;
                    }
                }
    
                a {
                    font-size: 16px;
                    margin-bottom: 30px;
    
                    @include responsive(tablet-size) {
                        font-size: 22px;
                        font-weight: 400;
                        margin-bottom: 60px;
                    }
    
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            div.slide-icon {
                display: none;
    
                @include responsive(tablet-size) {
                    display: block;
                    display: flex;
                    position: absolute;
                    top: 110px;
                    right: 20px;
                    justify-content: flex-end;
                    // background-color: aqua;
                }
    
                a {
                    margin-left: 35px;
    
                    &:first-child {
                        margin-left: 0;
                    }
    
                    img {
                        opacity: 0.5;

                        &:hover {
                            opacity: 1;
                        }
                    }
                }
            }
    
            div.product {
                width: 100%;
    
                ul.pd {
                    width: 100%;
    
                    @include responsive(tablet-size) {
                        display: flex;
                        justify-content: space-between;
                    }
    
                    li {
                        display: none;
    
                        @include responsive(tablet-size) {
                            display: block;
                            width: 31%;
    
                            &:last-child {
                                display: none;
    
                                @include responsive(pc-size) {
                                    display: block;
                                }
                            }
                        }
    
                        @include responsive(pc-size) {
                            width: 23%;
                        }
                        
                        &:first-child {
                            display: block;
                        }
    
                        a {
                            width: 100%;
    
                            &:hover {
                                text-decoration: underline;
                                font-weight: 500;
                            }
    
                            div.pd-img {
                                @include responsive(tablet-size) {
                                    width: 100%;
                                }
    
                                img {
                                    max-width: 280px;
                                    height: auto;
                                    margin: auto;
    
                                    @include responsive(tablet-size) {
                                        width: 100%;
                                        max-width: 330px;
                                    }
        
    
                                    &:hover {
                                        opacity: 0.4;
                                    }
                                }
                            }
    
                            div.pd-txt {
                                text-align: center;
                                font-family: $k-font;
                                padding: 25px 0;
    
                                @include responsive(tablet-size) {
                                    padding: 35px 0 45px 0;
                                }
    
                                p {
                                    font-size: 16px;
    
                                    &:first-child {
                                        margin-bottom: 5px;
                                    }
                                }
                            }
                        }
                    }
                }
    
                div.pd-line {
                    width: 280px;
                    height: 2px;
                    background-color: #ececec;
                    margin: auto;
    
                    @include responsive(tablet-size) {
                        width: 100%;
                    }
                }
            }
        }
    }

    // section.brand
    section.brand {
        position: relative;
        width: 100%;
        text-align: center;

        div.brand-img {
            width: 100%;
            height: auto;

            img {
                width: 100%;
                height: 450px;

                @include responsive(tablet-size) {
                    height: 700px;
                }
            }
        }

        p.be-us-is {
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            font-size: 18px;
            font-style: italic;
            font-weight: 500;
            color: $sub-bg-color;
            margin-top: 30px;

            @include responsive(tablet-size) {
                font-size: 25px;
                margin-top: 70px;
            }
        }

        .brand-text {
            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            h2 {
                margin-bottom: 25px;

                @include responsive(tablet-size) {
                    margin-bottom: 50px;
                }

                &:last-child {
                    margin-bottom: 0;
                }

                a {
                    font-size: 34px;
                    font-weight: 700;
                    letter-spacing: 2.5px;
                    color: $sub-bg-color;

                    @include responsive(tablet-size) {
                        font-size: 70px;
                        letter-spacing: 4.5px;
                    }

                    &:hover {
                        color: #999999;
                    }
                }
            }
        }
    }

    // section.find
    section.find {
        position: relative;
        width: 100%;
        height: 400px;
        background: url(../images/gradient.png) no-repeat center;
        background-size: cover;

        @include responsive(tablet-size) {
                height: 430px;
        }

        div.find-wrap {
            width: 100%;
            max-width: 1320px;
            padding: 0 20px;
            margin: 0 auto;

            @include responsive(tablet-size) {
                padding: 0 20px;
            }

            div.find-ab {
                position: absolute;
                top: 50%;
                transform: translate(0, -50%);
                
                h2 {
                    font-weight: 400;
                    font-size: 30px;
    
                    @include responsive(tablet-size) {
                        font-weight: 400;
                        font-size: 50px;
                    }
                }
        
                p.find-mobile {
                    font-family: $k-font;
                    font-size: 16px;
                    margin: 50px 0;
    
                    @include responsive(tablet-size) {
                        display: none;
                    }
                }

                p.find-tablet {
                    display: none;
    
                    @include responsive(tablet-size) {
                        display: block;
                        font-family: $k-font;
                        font-size: 18px;
                        margin: 50px 0;
                    }
                }
        
                a {
                    font-family: $k-font;
                    font-size: 18px;
                    font-weight: 500;
    
                    @include responsive(tablet-size) {
                        font-size: 20px;
                    }
    
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    // section.event
    section.event {
        width: 100%;
        padding: 50px 20px;

        @include responsive(tablet-size) {
            padding: 70px 20px;
        }
        
        div.ev-wrapper {
            width: 100%;
            max-width: 1320px;
            margin: 0 auto;

            div.event-title {
                width: 100%;
                
                h2 {
                    font-weight: 400;
                    font-size: 30px;
                    margin-bottom: 10px;
    
                    @include responsive(tablet-size) {
                        font-size: 50px;
                        font-weight: 400;
                        margin-bottom: 15px;
                    }
                }
    
                p {
                    a {
                        font-size: 16px;
                        margin-bottom: 30px;
        
                        @include responsive(tablet-size) {
                            font-size: 22px;
                            font-weight: 400;
                            margin-bottom: 70px;
                        }

                        @include responsive(pc-size) {
                            margin-bottom: 90px;
                        }
        
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }

            div.event-des {
                width: 100%;

                @include responsive(pc-size) {
                    padding: 0 70px;
                }
                
                .ev-flex-b1 {
                    width: 100%;
                    // background-color: aqua;

                    @include responsive(tablet-size) {
                        display: flex;
                        justify-content: space-between;
                    }

                    .ev {
                        width: 100%;
                        margin-bottom: 50px;
                        
                        @include responsive(tablet-size) {
                            width: 45%;
                        }

                        @include responsive(tablet-size) {
                            margin-bottom: 90px;
                        }

                        .ev-img {
                            width: 100%;

                            a {
                                width: 100%;

                                img {
                                    width: 100%;
                                    height: auto;

                                    @include responsive(pc-size) {
                                        width: auto;
                                    }
                                }
                            }
                        }

                        .ev-img-des {
                            padding: 20px 5px 0 5px;
                            width: 100%;

                            @include responsive(pc-size) {
                                padding: 30px 10px 0 10px;
                            }

                            a {
                                width: 100%;

                                &:hover {
                                    text-decoration: underline;
                                }

                                h3 {
                                    font-weight: 500;
                                    font-family: $k-font;
                                    font-size: 24px;
                                    margin-bottom: 6px;

                                    @include responsive(tablet-size) {
                                        margin-bottom: 8px;
                                    }

                                    @include responsive(pc-size) {
                                        font-size: 30px;
                                        margin-bottom: 10px;
                                    }
                                }

                                p {
                                    font-weight: 400;
                                    font-family: $k-font;
                                    font-size: 18px;

                                    @include responsive(pc-size) {
                                        font-size: 22px;
                                    }
                                }
                            }
                        }
                    }

                    .ev2 {
                        @include responsive(tablet-size) {
                            margin-top: -100px;
                        }

                        @include responsive(pc-size) {
                            margin-top: -115px;
                        }
                    }
                }

                .ev-flex-b2 {
                    width: 100%;
                    // background-color: pink;
                    
                    @include responsive(tablet-size) {
                        display: flex;
                        justify-content: space-between;
                    }

                    .ev {
                        width: 100%;
                        margin-bottom: 50px;
                        
                        @include responsive(tablet-size) {
                            width: 45%;
                        }

                        @include responsive(tablet-size) {
                            margin-bottom: 0;
                        }

                        .ev-img {
                            width: 100%;

                            a {
                                width: 100%;

                                img {
                                    width: 100%;
                                    height: auto;

                                    @include responsive(pc-size) {
                                        width: auto;
                                    }
                                }
                            }
                        }

                        .ev-img-des {
                            padding: 20px 5px 0 5px;
                            width: 100%;

                            @include responsive(pc-size) {
                                padding: 30px 10px 0 10px;
                            }

                            a {
                                width: 100%;

                                &:hover {
                                    text-decoration: underline;
                                }

                                h3 {
                                    font-weight: 500;
                                    font-family: $k-font;
                                    font-size: 24px;
                                    margin-bottom: 6px;

                                    @include responsive(tablet-size) {
                                        margin-bottom: 8px;
                                    }

                                    @include responsive(pc-size) {
                                        font-size: 30px;
                                        margin-bottom: 10px;
                                    }
                                }

                                p {
                                    font-weight: 400;
                                    font-family: $k-font;
                                    font-size: 18px;

                                    @include responsive(pc-size) {
                                        font-size: 22px;
                                    }
                                }
                            }
                        }
                    }

                    .ev3 {
                        @include responsive(tablet-size) {
                            margin-top: 45px;
                        }
                    }

                    .ev4 {
                        @include responsive(tablet-size) {
                            margin-top: -80px;
                        }

                        @include responsive(pc-size) {
                            margin-top: -100px;
                        }
                    }
                }
            }
        }
    }
}

// footer-area
footer {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fbf4ef+0,52669a+60,1f4095+100 */
    background: #fbf4ef; /* Old browsers */
    background: -moz-linear-gradient(top,  #fbf4ef 0%, #52669a 60%, #1f4095 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #fbf4ef 0%,#52669a 60%,#1f4095 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #fbf4ef 0%,#52669a 60%,#1f4095 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbf4ef', endColorstr='#1f4095',GradientType=0 ); /* IE6-9 */
    background-size: cover;
    width: 100%;

    div.footer-wrap {
        width: 100%;
        max-width: 1320px;
        margin: auto;
        text-align: center;
        padding: 0 20px;

        .footer-logo {
            width: 100%;
            padding-top: 200px;
            margin-bottom: 60px;

            img {
                margin: auto;
            }
        }

        .footer-des {
            width: 100%;

            .copy-d {
                width: 100%;
                position: relative;

                @include responsive(tablet-size) {
                    display: flex;
                    justify-content: space-between;
                }

                .about {
                    margin-bottom: 50px;

                    @include responsive(tablet-size) {
                        text-align: left;
                    }

                    h4 {
                        color: #d5d5d5;
                        font-style: italic;
                        font-size: 20px;
                        font-weight: 500;
                        margin-bottom: 15px;

                        @include responsive(tablet-size) {
                            margin-bottom: 30px;
                        }
                    }

                    ul {

                        li {
                            margin-bottom: 8px;

                            @include responsive(tablet-size) {
                                margin-bottom: 15px;

                                &:last-child {
                                    margin-bottom: 0;
                                }
                            }

                            a {
                                color: $sub-bg-color;
                                font-weight: 300;

                                &:hover {
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }

                .contact {
                    margin-bottom: 50px;

                    @include responsive(tablet-size) {
                        position: absolute;
                        left: 50%;
                        transform: translate(-50%, 0);
                    }

                    h4 {
                        color: #d5d5d5;
                        font-style: italic;
                        font-size: 20px;
                        font-weight: 500;
                        margin-bottom: 15px;

                        @include responsive(tablet-size) {
                            margin-bottom: 30px;
                        }
                    }

                    ul {

                        li {
                            margin-bottom: 8px;
                            font-size: 18px;
                            font-weight: 300;
                            color: $sub-bg-color;

                            @include responsive(tablet-size) {
                                margin-bottom: 15px;

                                &:last-child {
                                    margin-bottom: 0;
                                }
                            }
                        }
                    }
                }

                .social {

                    @include responsive(tablet-size) {
                        text-align: right;
                    }
                    
                    h4 {
                        color: #d5d5d5;
                        font-style: italic;
                        font-size: 20px;
                        font-weight: 500;
                        margin-bottom: 15px;

                        @include responsive(tablet-size) {
                            margin-bottom: 30px;
                        }
                    }

                    ul {

                        li {
                            margin-bottom: 8px;

                            @include responsive(tablet-size) {
                                margin-bottom: 15px;

                                &:last-child {
                                    margin-bottom: 0;
                                }
                            }

                            a {
                                color: $sub-bg-color;
                                font-weight: 300;

                                &:hover {
                                    text-decoration: underline;
                                }

                                img {
                                    display: inline-block;
                                    margin-right: 5px;
                                }
                            }
                        }
                    }
                }
            }

            .copy {
                color: #d5d5d5;

                p.footer-bottom-m {
                    margin: 45px 0;
                    font-size: 16px;
                    font-family: $k-font;

                    @include responsive(tablet-size) {
                        display: none;
                    }
                }

                p.footer-bottom-p {
                    font-family: $k-font;
                    display: none;
                    font-size: 16px;
                    margin: 45px 0;

                    @include responsive(tablet-size) {
                        display: block;
                    }
                }

                p.copyright {
                    font-size: 14px;
                    padding-bottom: 45px;
                }
            }
        }
    }
}