$font : 'Roboto', 'Noto Sans KR', sans-serif;
$k-font : 'Noto Sans KR', sans-serif;

$bg-color : #fbf4ef;
$sub-bg-color : #fffaf6;

$main-color : #1f4095;

$break-mobile: 320px;
$break-tablet: 768px;
$break-pc: 1320px;