@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: "Roboto", "Noto Sans KR", sans-serif;
  color: #1f4095;
  background-color: #fbf4ef;
}

ul,
ol,
li {
  list-style: none;
}

a {
  display: block;
  font-size: 18px;
  text-decoration: none;
  color: #1f4095;
}

p {
  font-size: 18px;
}

span {
  font-size: 18px;
  display: block;
}

img {
  display: block;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.4em;
}

h4 {
  font-size: 1.2em;
}

header,
nav,
main,
section,
article,
aside,
footer {
  display: block;
}

body {
  padding-top: 60px;
}
@media screen and (min-width: 768px) {
  body {
    padding-top: 80px;
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 1;
  background-color: #fffaf6;
}
@media screen and (min-width: 768px) {
  header {
    height: 80px;
  }
}
header div.wrapper {
  width: 100%;
  height: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 768px) {
  header div.wrapper {
    max-width: 1320px;
    margin: 0 auto;
  }
}
header div.wrapper nav.main-menu ul.gnb {
  display: flex;
  justify-content: space-between;
  align-content: center;
}
header div.wrapper nav.main-menu ul.gnb li {
  display: none;
}
@media screen and (min-width: 768px) {
  header div.wrapper nav.main-menu ul.gnb li {
    display: block;
    margin-right: 20px;
  }
}
@media screen and (min-width: 1320px) {
  header div.wrapper nav.main-menu ul.gnb li {
    display: block;
    margin-right: 35px;
  }
  header div.wrapper nav.main-menu ul.gnb li:last-child {
    margin-right: 35px;
  }
}
header div.wrapper nav.main-menu ul.gnb li:last-child {
  display: block;
}
@media screen and (min-width: 768px) {
  header div.wrapper nav.main-menu ul.gnb li:last-child {
    display: none;
  }
}
header div.wrapper nav.main-menu ul.gnb li a:hover {
  text-decoration: underline;
}
@media screen and (min-width: 768px) {
  header div.wrapper nav.main-menu ul.gnb li a {
    font-size: 16px;
  }
}
@media screen and (min-width: 1320px) {
  header div.wrapper nav.main-menu ul.gnb li a {
    font-size: 18px;
  }
}
header div.wrapper div.logo-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
header div.wrapper div.logo-wrap a img {
  width: 32px;
  height: auto;
}
@media screen and (min-width: 768px) {
  header div.wrapper div.logo-wrap a img {
    width: auto;
  }
}
@media screen and (min-width: 768px) {
  header div.wrapper div.side-menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
header div.wrapper div.side-menu ul li {
  display: none;
}
@media screen and (min-width: 768px) {
  header div.wrapper div.side-menu ul li {
    display: block;
    margin-left: 30px;
  }
  header div.wrapper div.side-menu ul li:first-child {
    margin-left: 0;
  }
}
header div.wrapper div.side-menu ul li:last-child {
  display: block;
}
header div.wrapper div.side-menu ul li:last-child:hover {
  opacity: 0.5;
}
header div.wrapper div.side-menu ul li a:hover {
  text-decoration: underline;
}
@media screen and (min-width: 1320px) {
  header div.wrapper div.side-menu ul li a {
    font-size: 18px;
  }
}

main .main-wrapper {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  padding: 0 40px;
}
@media screen and (min-width: 768px) {
  main .main-wrapper {
    margin: 100px auto;
  }
}
@media screen and (min-width: 1320px) {
  main .main-wrapper {
    margin: 150px auto;
  }
}
main .main-wrapper form h2 {
  font-size: 1.8rem;
  margin: 3rem 0;
}
main .main-wrapper form input {
  width: 100%;
  background-color: transparent;
  outline: none;
  border: 1.5px solid gray;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 20px;
}
main .main-wrapper form button {
  width: 100%;
  padding: 10px;
  margin: 30px 0;
  font-size: 1.2rem;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  color: #fbf4ef;
  background-color: #1f4095;
  cursor: pointer;
}
main .main-wrapper form div {
  text-align: right;
  margin: 15px 0;
}
main .main-wrapper form div p {
  font-size: 0.5rem;
  display: inline-block;
  margin-right: 15px;
}
main .main-wrapper form div p:last-child {
  margin-right: 5px;
}

footer {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fbf4ef+0,52669a+60,1f4095+100 */
  background: #fbf4ef;
  /* Old browsers */
  background: -moz-linear-gradient(top, #fbf4ef 0%, #52669a 60%, #1f4095 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #fbf4ef 0%, #52669a 60%, #1f4095 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #fbf4ef 0%, #52669a 60%, #1f4095 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#fbf4ef", endColorstr="#1f4095",GradientType=0 );
  /* IE6-9 */
  background-size: cover;
  width: 100%;
}
footer div.footer-wrap {
  width: 100%;
  max-width: 1320px;
  margin: auto;
  text-align: center;
  padding: 0 20px;
}
footer div.footer-wrap .footer-logo {
  width: 100%;
  padding-top: 200px;
  margin-bottom: 60px;
}
footer div.footer-wrap .footer-logo img {
  margin: auto;
}
footer div.footer-wrap .footer-des {
  width: 100%;
}
footer div.footer-wrap .footer-des .copy-d {
  width: 100%;
  position: relative;
}
@media screen and (min-width: 768px) {
  footer div.footer-wrap .footer-des .copy-d {
    display: flex;
    justify-content: space-between;
  }
}
footer div.footer-wrap .footer-des .copy-d .about {
  margin-bottom: 50px;
}
@media screen and (min-width: 768px) {
  footer div.footer-wrap .footer-des .copy-d .about {
    text-align: left;
  }
}
footer div.footer-wrap .footer-des .copy-d .about h4 {
  color: #d5d5d5;
  font-style: italic;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) {
  footer div.footer-wrap .footer-des .copy-d .about h4 {
    margin-bottom: 30px;
  }
}
footer div.footer-wrap .footer-des .copy-d .about ul li {
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  footer div.footer-wrap .footer-des .copy-d .about ul li {
    margin-bottom: 15px;
  }
  footer div.footer-wrap .footer-des .copy-d .about ul li:last-child {
    margin-bottom: 0;
  }
}
footer div.footer-wrap .footer-des .copy-d .about ul li a {
  color: #fffaf6;
  font-weight: 300;
}
footer div.footer-wrap .footer-des .copy-d .about ul li a:hover {
  text-decoration: underline;
}
footer div.footer-wrap .footer-des .copy-d .contact {
  margin-bottom: 50px;
}
@media screen and (min-width: 768px) {
  footer div.footer-wrap .footer-des .copy-d .contact {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
  }
}
footer div.footer-wrap .footer-des .copy-d .contact h4 {
  color: #d5d5d5;
  font-style: italic;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) {
  footer div.footer-wrap .footer-des .copy-d .contact h4 {
    margin-bottom: 30px;
  }
}
footer div.footer-wrap .footer-des .copy-d .contact ul li {
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 300;
  color: #fffaf6;
}
@media screen and (min-width: 768px) {
  footer div.footer-wrap .footer-des .copy-d .contact ul li {
    margin-bottom: 15px;
  }
  footer div.footer-wrap .footer-des .copy-d .contact ul li:last-child {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  footer div.footer-wrap .footer-des .copy-d .social {
    text-align: right;
  }
}
footer div.footer-wrap .footer-des .copy-d .social h4 {
  color: #d5d5d5;
  font-style: italic;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) {
  footer div.footer-wrap .footer-des .copy-d .social h4 {
    margin-bottom: 30px;
  }
}
footer div.footer-wrap .footer-des .copy-d .social ul li {
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  footer div.footer-wrap .footer-des .copy-d .social ul li {
    margin-bottom: 15px;
  }
  footer div.footer-wrap .footer-des .copy-d .social ul li:last-child {
    margin-bottom: 0;
  }
}
footer div.footer-wrap .footer-des .copy-d .social ul li a {
  color: #fffaf6;
  font-weight: 300;
}
footer div.footer-wrap .footer-des .copy-d .social ul li a:hover {
  text-decoration: underline;
}
footer div.footer-wrap .footer-des .copy-d .social ul li a img {
  display: inline-block;
  margin-right: 5px;
}
footer div.footer-wrap .footer-des .copy {
  color: #d5d5d5;
}
footer div.footer-wrap .footer-des .copy p.footer-bottom-m {
  margin: 45px 0;
  font-size: 16px;
  font-family: "Noto Sans KR", sans-serif;
}
@media screen and (min-width: 768px) {
  footer div.footer-wrap .footer-des .copy p.footer-bottom-m {
    display: none;
  }
}
footer div.footer-wrap .footer-des .copy p.footer-bottom-p {
  font-family: "Noto Sans KR", sans-serif;
  display: none;
  font-size: 16px;
  margin: 45px 0;
}
@media screen and (min-width: 768px) {
  footer div.footer-wrap .footer-des .copy p.footer-bottom-p {
    display: block;
  }
}
footer div.footer-wrap .footer-des .copy p.copyright {
  font-size: 14px;
  padding-bottom: 45px;
}/*# sourceMappingURL=login.css.map */